{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.winner) }}
    <div>
        {{ form_label(edit_form.gameTeams[0], game.GameTeams[0].tournamentMembership.team.name) }}
        {{ form_errors(edit_form.gameTeams[0]) }}
        {{ form_widget(edit_form.gameTeams[0]) }}
    </div>
    <div>
        {{ form_label(edit_form.gameTeams[1], game.GameTeams[1].tournamentMembership.team.name) }}
        {{ form_errors(edit_form.gameTeams[1]) }}
        {{ form_widget(edit_form.gameTeams[1]) }}
    </div>
    <input type="submit" value="Save" class="btn btn-default"/>
    {{ form_end(edit_form) }}

    <ul class="list list-unstyled">
        <li>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">Back</a>
        </li>
    </ul>
{% endblock %}
