{% if app.user.id == game.tournament.manager.id %}
    <ul class="list list-unstyled">
        {% if game.status == constant('TournamentBundle\\Entity\\Game::STATUS_PLANNED')  and game.gameTeams | length == 2%}
            <li>
                <a href="{{ path('game_edit', { 'id': game.id }) }}" class="btn btn-default">play</a>
            </li>
        {% endif %}
    </ul>
{% endif %}