{% if games | length > 0 %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Score</th>
        <th>Round</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>{{ game.gameTeams[0].tournamentMembership.team.name | default('?') }}</td>
            <td>{{ game.gameTeams[1].tournamentMembership.team.name | default('?') }}</td>
            <td>{{ game.getScoreString }}</td>
            <td>{{ game.level }}</td>
            <td>{{ game.getStatusName(game.status) }}</td>
            <td>
                <ul class="list list-unstyled">
                    <li>
                        <a href="{{ path('game_show', { 'id': game.id }) }}" class="btn btn-default">show</a>
                    </li>
                </ul>
                {{ include('game/edit_buttons.html.twig',{ 'game': game})}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning">
        No games
    </div>
{% endif %}