{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Team 1</th>
                <td>{{ game.gameTeams[0].tournamentMembership.team.name | default('?') }}</td>
            </tr>
            <tr>
                <th>Team 2</th>
                <td>{{ game.gameTeams[1].tournamentMembership.team.name | default('?') }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ game.getScoreString }}</td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>
                    {% if game.getWinner is not null %}
                        {{ game.getWinner.tournamentMembership.team.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Tournament</th>
                <td>
                    <a href="{{ path('tournament_show', { 'id': game.tournament.id }) }}">{{ game.tournament.name }}</a>
                </td>
            </tr>
            <tr>
                <th>Round</th>
                <td>{{ game.level }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ game.getStatusName(game.status) }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list list-unstyled">
        <li>
            <a href="{{ path('tournament_games', { 'id': game.tournament.id }) }}" class="btn btn-default">See games in the tournament</a>
        </li>
        {{ include('game/edit_buttons.html.twig',{ 'game': game})}}
    </ul>
{% endblock %}
