{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournament manager</h1>
    <div>Organize your own tournament: soccer, karaoke, whatever! Join tournaments organized by others.</div>
    <h3>Quick start</h3>
    <ul class="list list-unstyled">
        <li>Step 1. Register</li>
        <li>Step 2. Create a number of teams</li>
        <li>Step 3. Create a tournament and choose system</li>
        <li>Step 4. Subscribe your teams to the tournament</li>
        <li>Step 5. Click 'Start' button. At this moment, the application automatically generates the brackets for the tournament</li>
        <li>Step 6. Go to the tournament details and click 'Games (tree)' to see the brackets!</li>
        <li>Step 7. To play a game, enter its details and click 'Play'. Set the winner and optionally specify points</li>
    </ul>
{% endblock %}