<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('index') }}">Tournament Manager</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('index') }}">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Tournaments
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('tournament_index') }}">All</a></li>
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('tournament_managed', { 'id': app.user.id }) }}">Managed</a></li>
                                    <li><a href="{{ path('tournament_new') }}">Create new</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Teams
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('team_index') }}">All</a></li>
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('team_joined', { 'id': app.user.id }) }}">Joined</a></li>
                                    <li><a href="{{ path('team_managed', { 'id': app.user.id }) }}">Managed</a></li>
                                    <li><a href="{{ path('team_new') }}">Create new</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
            </nav>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
