{% if app.user.id == tournament.manager.id %}
    <ul class="list list-unstyled">
        <li>
            <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}" class="btn btn-default">edit</a>
        </li>
        {% if delete_form is defined %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
        {% if tournament.status == constant('TournamentBundle\\Entity\\Tournament::STATUS_RECRUITING') %}
            <li>
                <a href="{{ path('tournament_start', { 'id': tournament.id }) }}" class="btn btn-default">start</a>
            </li>
        {% endif %}
    </ul>
{% endif %}