{% extends 'base.html.twig' %}

{% block body %}
    <h1>Games in tournament {{ tournament.id }}</h1>

    {% if tournament.system == constant('TournamentBundle\\Entity\\Tournament::SYSTEM_SINGLE_ELIMINATION') %}
        <a href="{{ path('tournament_tree', { 'id': tournament.id }) }}" class="btn btn-default">See games as a tree</a>
    {% endif %}
    <a href="{{ path('tournament_show', { 'id': tournament.id }) }}" class="btn btn-default">Tournament details</a>

    {{ include('game/list.html.twig',{ 'games': games})}}


{% endblock %}