{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournaments list</h1>

    {{ include('tournament/list.html.twig',{ 'tournaments': tournaments, 'managedTeams': managedTeams})}}
{% endblock %}
