{% if (tournament.status == constant('TournamentBundle\\Entity\\Tournament::STATUS_RECRUITING')) %}
    <li>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Subscribe your team
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for team in managedTeams %}
                    {% set tournamentAlreadyJoined = false %}
                    {% for tournamentMembership in team.tournamentMemberships %}
                        {% if (tournament.id == tournamentMembership.tournament.id) %}
                            {% set tournamentAlreadyJoined = true %}
                        {% endif %}
                    {% endfor %}
                    {% if (tournamentAlreadyJoined == false) %}
                        <li><a href="{{ path('tournament_join', { 'tournamentId': tournament.id, 'teamId': team.id }) }}">{{team.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </li>
{% endif %}