<ul>
    <li>
        <a href="{{ path('tournament_new') }}">Create a new tournament</a>
    </li>
</ul>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>System</th>
            <th>Status</th>
            <th>Datestart</th>
            <th>Dateend</th>
            <th>Manager</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td><a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{ tournament.id }}</a></td>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.description }}</td>
            <td>{{ tournament.getSystemName(tournament.system) }}</td>
            <td>{{ tournament.getStatusName(tournament.status) }}</td>
            <td>{% if tournament.dateStart %}{{ tournament.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if tournament.dateEnd %}{{ tournament.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ tournament.manager.username }}</td>
            <td>
                <ul class="list list-unstyled">
                    <li>
                        <a href="{{ path('tournament_show', { 'id': tournament.id }) }}" class="btn btn-default">show</a>
                    </li>
                    {{ include('tournament/join_button.html.twig',{ 'tournament': tournament, 'managedTeams': managedTeams})}}
                </ul>
                {{ include('tournament/edit_buttons.html.twig',{ 'tournament': tournament})}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

