{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournament</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tournament.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tournament.description }}</td>
            </tr>
            <tr>
                <th>System</th>
                <td>{{ tournament.getSystemName(tournament.system) }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tournament.getStatusName(tournament.status) }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if tournament.dateStart %}{{ tournament.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if tournament.dateEnd %}{{ tournament.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <td>Manager</td>
                <td>{{ tournament.manager.username }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list list-unstyled">
        <li>
            <a href="{{ path('tournament_games', {'id': tournament.id}) }}" class="btn btn-default">Games (list)</a>
        </li>
        <li>
            <a href="{{ path('tournament_tree', {'id': tournament.id}) }}" class="btn btn-default">Games (tree)</a>
        </li>
        {{ include('tournament/join_button.html.twig',{ 'tournament': tournament, 'managedTeams': managedTeams})}}
    </ul>
    {{ include('tournament/edit_buttons.html.twig',{ 'tournament': tournament})}}

    <h3>Members</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Joined</th>
            <th>Left</th>
        </tr>
        </thead>
        <tbody>
        {% for tournamentMembership in tournament.tournamentMemberships %}
            <tr>
                <td><a href="">{{ tournamentMembership.team.id }}</a></td>
                <td>
                    {% if tournamentMembership.team.logo is not null %}
                        <img src="{{ asset('uploads/photos/' ~ tournamentMembership.team.logo) }}" class="photo-small"></td>
                    {% endif %}
                <td>{{ tournamentMembership.team.name }}</td>
                <td>{{ tournamentMembership.dateStart.format('Y-m-d H:i:s') }}</td>
                <td>{{ tournamentMembership.dateEnd.format('Y-m-d H:i:s') | default('') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
