{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/js/Treant/Treant.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/example7.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ tournament.name }}: game tree</h1>

    <a href="{{ path('tournament_games', { 'id': tournament.id }) }}" class="btn btn-default">See games as a list</a>
    <a href="{{ path('tournament_show', { 'id': tournament.id }) }}" class="btn btn-default">Tournament details</a>

    {% if (tournament.system != constant('TournamentBundle\\Entity\\Tournament::SYSTEM_SINGLE_ELIMINATION')) %}
        <div class="alert alert-warning">
            Cannot generate tree diagram for this tournament system
        </div>
    {% elseif (tournament.status < constant('TournamentBundle\\Entity\\Tournament::STATUS_STARTED'))%}
        <div class="alert alert-warning">
            No games. Subscribe teams and start the tournament first.
        </div>
    {% else %}
        <div class="chart" id="OrganiseChart6" style="width:600px; height: 600px"> </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/Treant/vendor/raphael.js') }}"></script>
    <script src="{{ asset('assets/js/Treant/Treant.js') }}"></script>
    <script>
        console.log(JSON.parse('{{ nodeStructure | raw}}'));
        var tree_structure = {
            chart: {
                container: "#OrganiseChart6",
                levelSeparation:    20,
                siblingSeparation:  15,
                subTeeSeparation:   15,
                rootOrientation: "EAST",

                node: {
                    HTMLclass: "tennis-draw",
                    drawLineThrough: true
                },
                connectors: {
                    type: "straight",
                    style: {
                        "stroke-width": 2,
                        "stroke": "#ccc"
                    }
                }
            },

            nodeStructure: JSON.parse('{{ nodeStructure | raw}}')
        };
        var my_chart = new Treant(tree_structure);
    </script>
{% endblock %}