{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gameteams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Gamescore</th>
                <th>Tournamentscore</th>
                <th>Resultcode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gameTeam in gameTeams %}
            <tr>
                <td><a href="{{ path('gameteam_show', { 'id': gameTeam.id }) }}">{{ gameTeam.id }}</a></td>
                <td>{{ gameTeam.gameScore }}</td>
                <td>{{ gameTeam.tournamentScore }}</td>
                <td>{{ gameTeam.resultCode }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gameteam_show', { 'id': gameTeam.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gameteam_edit', { 'id': gameTeam.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gameteam_new') }}">Create a new gameTeam</a>
        </li>
    </ul>
{% endblock %}
