{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gameteam</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gameTeam.id }}</td>
            </tr>
            <tr>
                <th>Gamescore</th>
                <td>{{ gameTeam.gameScore }}</td>
            </tr>
            <tr>
                <th>Tournamentscore</th>
                <td>{{ gameTeam.tournamentScore }}</td>
            </tr>
            <tr>
                <th>Resultcode</th>
                <td>{{ gameTeam.resultCode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gameteam_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gameteam_edit', { 'id': gameTeam.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
