<ul>
    <li>
        <a href="{{ path('team_new') }}">Create a new team</a>
    </li>
</ul>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Logo</th>
            <th>Manager</th>
            <th>Datestart</th>
            <th>Dateend</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
            <td>{{ team.name }}</td>
            <td>{{ team.description }}</td>
            <td>
                {% if team.logo is not null %}
                    <img src="{{ asset('uploads/photos/' ~ team.logo) }}" class="photo-small">
                {% endif %}
            </td>
            <td>{{ team.manager.username | default('')}}</td>
            <td>{% if team.dateStart %}{{ team.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if team.dateEnd %}{{ team.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('team_edit', { 'id': team.id }) }}">edit</a>
                    </li>
                    <li>
                        {% if team.id in userTeamIds %}
                            <p>{{ 'Already joined' | trans}}</p>
                        {% else %}
                            <a href="{{ path('team_join', { 'id': team.id }) }}">join</a>
                        {% endif %}
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>