{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ team.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>
                    {% if team.logo is not null %}
                        <img src="{{ asset('uploads/photos/' ~ team.logo) }}" class="photo-small">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>{{ team.manager.username | default('') }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if team.dateStart %}{{ team.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if team.dateEnd %}{{ team.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tournament_joined', {'id': team.id}) }}">Tournaments joined</a>
        </li>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <li>
            {% if team.id in userTeamIds %}
                <p>{{ 'Already joined' | trans}}</p>
            {% else %}
                <a href="{{ path('team_join', { 'id': team.id }) }}">join</a>
            {% endif %}
        </li>
    </ul>

    <h3>Members</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Joined</th>
            <th>Left</th>
        </tr>
        </thead>
        <tbody>
        {% for teamMembership in team.teamMemberships %}
            <tr>
                <td><a href="">{{ teamMembership.user.id }}</a></td>
                <td>
                    {% if teamMembership.user.photo is not null %}
                        <img src="{{ asset('uploads/photos/' ~ teamMembership.user.photo) }}" class="photo-small">
                    {% endif %}
                </td>
                <td>{{ teamMembership.user.username }}</td>
                <td>{{ teamMembership.dateStart.format('Y-m-d H:i:s') }}</td>
                <td>{{ teamMembership.dateEnd.format('Y-m-d H:i:s') | default('') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
